@model ProductResponse

@{
    ViewData["Title"] = "Create Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string valMessage = TempData["Failure"] as string;
}
@section Scripts{
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var mesg = "@Html.Raw(TempData["Failure"])";
            if(mesg != "") toastr.error(mesg);
            bsCustomFileInput.init();
            $('#summernote').summernote();
        });
    </script>
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Products</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Product</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Form Create <small>Product</small></h3>
                    </div>
                    <form id="quickForm" novalidate="novalidate" asp-action="Create" asp-controller="Product">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Product Group</label>
                                @Html.DropDownList("productGroup", (List<SelectListItem>)ViewData["OptionsProductGroup"], "Choose product group", new { @class = "custom-select" })
                            </div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label class="control-label">Unit</label>
                                    <input asp-for="Unit" type="text" class="form-control" />
                                    <span asp-validation-for="Unit" class="text-danger"></span>
                                </div>
                                <div class="col-4">
                                    <label asp-for="Price" class="control-label">Price (Dolar)</label>
                                    <input asp-for="Price" min="0" type="number" value="50000" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                                <div class="col-4">
                                    <label asp-for="Warranty" class="control-label"></label>
                                    <input asp-for="Warranty"  type="text" class="form-control" />
                                    <span asp-validation-for="Warranty" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-secondary" asp-controller="product" asp-action="">Back To List</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


